* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.padre {
    border: 2px black dotted;
   display: inline-block;
}
.box {
    
    background-color: rgb(145, 53, 145);
    width: 100px;
    height: 100px;
}
#two {
    background-color: rgb(55, 110, 110);
    position: absolute;
    right: 40rem;
    
  

    }
